[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"]}
pydantic = "*"
requests = "*"
beautifulsoup4 = "*"
meilisearch = "*"
cchardet = "*"
sudachipy = "*"
sudachidict-core = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
